# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb

# Virtual Environment
venv/
.env
.venv/
*.env

# PyInstaller
*.spec
build/
dist/

# IDE files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Local network data
local_network_data/
